.l2w-exam-container {
    background: #11142C;
    height: 100vh;
}

.l2w-flashcard-container {
    background: #11142C;
}

.l2w-exam-container h1, .l2w-exam-container h2, .l2w-exam-container h3, .l2w-exam-container h4, .l2w-exam-container i {
    color: white;
}

.l2w-progress-container .ui.progress {
    z-index: 100;
}

.l2w-progress-container .l2w-progress-bar.ui.active.progress .bar {
    z-index: 100;
    border-radius: 0;
    position: fixed;
    height: 15px;
    background-color: var(--l2w-accent-color)
}


.l2w-quiz-container {
    margin-top: 90px;
    height: 100%;
    text-align: center;
    width: 100%;
    background: #11142C;
}

.l2w-flashcard-container {
    text-align: center;
}

.l2w-quiz-header {
    width: 100%;
    padding-bottom: 80px !important;
    padding-top: 20px !important;
}

.l2w-score-board.ui.card {
    height: 400px;
    text-align: center;
    width: 500px;
    border: 1px solid white;
}


.l2w-score-board-header h2 {
    color: white;
}

.ui.card .l2w-score-board-extra {
    background: var(--l2w-primary-color);
    text-align: center;
}

.ui.card .l2w-score-board-header {
    padding: 20px;
    background: var(--l2w-primary-color);
    color: white;
}

.ui.card .l2w-score-board-content {
    text-align: center;
    padding: 25px;
}

.ui.card .l2w-score-board-content h1 {
    margin-top: 5%;
    color: var(--l2w-primary-color);
    font-size: 30px;
    text-align: center;
}

.ui.card .l2w-score-board-content h4 {
    color: var(--l2w-primary-color);
    text-align: center;
}

.ui.card .l2w-score-board-content i {
    color: var(--l2w-primary-color);
    font-size: 40px;
}


.l2w-exam-container .ui.grid.l2w-quiz-header {
    margin: 0;
}

@media only screen and (max-width: 800px) {

    .ui.card .l2w-score-board-content h1, .ui.card .l2w-score-board-content i {
        color: var(--l2w-primary-color);
        font-size: 20px;
        text-align: center;
    }


    .l2w-quiz-container .l2w-score-board.ui.card {
        height: 325px;
        text-align: center;
        width: 350px;
        border: 1px solid white;
    }

    .ui.card .l2w-score-board-content {
        text-align: left;
        padding: 20px;
    }


    .l2w-quiz-container {
        margin-top: 90px;
        height: 100%;
        text-align: center;
        width: 100%;
        background: #11142C;
    }

    .l2w-score-board.ui.card {
        height: 100%;
        width: unset;
    }


}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .l2w-exam-container .ui.container {
        width: unset;

    }

}
