.l2w-quiz-dashboard {
    margin: 0 auto;
    text-align: center;
    padding-top: 100px !important;
    background: #E9E9E9;
}




.l2w-grid-column {
    width: 25% !important;
}

.l2w-quiz-dashboard-container {
    padding-left: 5%;
    padding-right: 5%;
}

@media only screen and (max-width: 800px) {

    .l2w-quiz-dashboard-menu-item h2 {
        font-size: 18px;
    }

}

